@font-face {
  font-family: "brandon-grot-w01-light";
  src: url("/fonts/brandon-grot-w05-light.woff2") format("woff2");
  unicode-range: U+0100-0130, U+0132-0151, U+0154-015F, U+0162-0177, U+0179-017C,
    U+01FA-01FF, U+0218-021B, U+0237, U+02C7, U+02C9, U+02D8-02DB, U+02DD,
    U+037E, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03CE, U+0400-045F,
    U+0490-0491, U+1E80-1E85, U+1E9E, U+1EF2-1EF3, U+2044, U+2070, U+2074-2079,
    U+2080-2089, U+20B4, U+20BD, U+2113, U+2117, U+2126, U+212E, U+2153-2154,
    U+215B-215E, U+2202, U+2206, U+220F, U+2211-2212, U+2215, U+2219-221A,
    U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+F8FF, U+FB01-FB02;
  font-display: swap;
}
@font-face {
  font-family: "brandon-grot-w01-light";
  src: url("/fonts/brandon-grot-w01-light.woff2") format("woff2");
  unicode-range: U+0002, U+0009-000A, U+000D, U+0020-007E, U+00A0-00FF, U+0131,
    U+0152-0153, U+0160-0161, U+0178, U+017D-017E, U+0192, U+02C6, U+02DC,
    U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030,
    U+2039-203A, U+20AC, U+2122;
  font-display: swap;
}
@font-face {
  font-family: "DancingScript-Regular";
  src: url("/fonts/DancingScript-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "DancingScript-Bold";
  src: url("/fonts/DancingScript-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "DancingScript-Medium";
  src: url("/fonts/DancingScript-Medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "DancingScript-SemiBold";
  src: url("/fonts/DancingScript-SemiBold.ttf") format("truetype");
  font-display: swap;
}

.font-brandon {
  font-family: "brandon-grot-w01-light", sans-serif;
}

.font-dancing {
  font-family: "DancingScript-Regular", sans-serif;
}
